/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: #0d0f18;
    color: #fff;
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 240px;
    background: #0b0d16;
    height: 100vh;
    padding: 20px;
    border-right: 1px solid #1c1f2b;
    position: fixed;
    overflow-y: auto;
}

.logo {
    font-size: 26px;
    font-weight: 700;
}
.logo span {
    color: #5c7cff;
}

/* Remove Blue Link Color */
.menu a {
    color: inherit;
    text-decoration: none;
    display: block;
}

/* Menu */
.menu {
    margin-top: 30px;
    list-style: none;
}

.menu li {
    padding: 12px 10px;
    border-radius: 6px;
    color: #b7b8c5;
    cursor: pointer;
    margin-bottom: 4px;
    transition: 0.2s;
}

.menu li:hover,
.menu li.active {
    background: #1a1d28;
    color: #fff;
}

.section {
    margin-top: 18px;
    margin-bottom: 6px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #666;
}

/* Free Tag */
.free-tag {
    background: #2d6bff;
    color: white;
    font-size: 10px;
    padding: 2px 6px;
    border-radius: 4px;
    float: right;
}

/* User Section */
.user {
    position: absolute;
    bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.user img {
    width: 34px;
    border-radius: 50%;
}

.user span {
    font-size: 14px;
}

/* MAIN */
.main {
    margin-left: 260px;
    padding: 30px;
    width: calc(100% - 260px);
}

/* HERO */
.hero {
    background: linear-gradient(90deg, #5636ff, #b933f5);
    padding: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero h1 {
    font-size: 42px;
    font-weight: 700;
}
.hero h1 span {
    color: #ffdc3b;
}
.hero p {
    margin-top: 10px;
    font-size: 16px;
}

.hero-img img {
    width: 290px;
    border-radius: 14px;
}

/* TOOL CARDS */
.section-title {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 22px;
}

.tools {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.tool-card {
    background: #131622;
    padding: 20px;
    border-radius: 14px;
    transition: 0.2s;
}
.tool-card:hover {
    background: #1b1f2f;
}

.icon {
    width: 44px;
    height: 44px;
    background: #444;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}
.orange { background: #ff6633; }
.pink { background: #d83aff; }
.yellow { background: #ffbb33; }

.tool-card h3 {
    margin-top: 15px;
    font-size: 18px;
}
.tool-card p {
    margin-top: 6px;
    color: #b5b6c7;
    font-size: 14px;
}
