body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #02040a;
    color: white;
    text-align: center;
}

/* Top Offer Box */
.offer-banner {
    background: linear-gradient(135deg, #1b2235, #111a2c);
    padding: 50px 20px;
    margin: 40px auto;
    border-radius: 20px;
    width: 70%;
}

.limited {
    font-size: 14px;
    color: #c7c7c7;
}

.offer-content h1 {
    margin: 10px 0;
    font-size: 28px;
    font-weight: bold;
}

.timer-label {
    font-size: 15px;
    margin-top: 10px;
}

.timer {
    background: #0b1220;
    padding: 6px 15px;
    border-radius: 8px;
}

/* Buy Credits Section */
.buy-credits {
    margin-top: 70px;
}

.buy-credits h1 {
    font-size: 55px;
    margin-bottom: 10px;
}

.buy-credits p {
    font-size: 20px;
    color: #b9b9b9;
}

/* Save Button */
.save-btn {
    margin-top: 30px;
    background: #101522;
    padding: 15px 35px;
    color: white;
    border: 1px solid #293146;
    border-radius: 40px;
    font-size: 18px;
    cursor: pointer;
}

.save-btn span {
    color: #3bd7ff;
    font-weight: bold;
}
