@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Inter, sans-serif;
}

body{
    height:100vh;
    background: radial-gradient(circle at bottom, #140028 10%, #000 60%);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    color:white;
}

.logo{
    position:absolute;
    top:30px;
    left:40px;
    font-size:32px;
    font-weight:700;
}

.logo span{
    color:#6e50ff;
}

.card{
    background:#0d0f17;
    padding:40px;
    width:360px;
    border-radius:12px;
    text-align:center;
    box-shadow:0 0 20px rgba(0,0,0,0.4);
    border:1px solid #1a1d28;
}

.card h2{
    font-size:28px;
    margin-bottom:10px;
}

.card p{
    color:#b8b8b8;
    margin-bottom:25px;
}

.google-btn{
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
    background:white;
    color:#000;
    font-weight:600;
    font-size:15px;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;
    cursor:pointer;
}

.google-btn img{
    width:20px;
}

.terms{
    font-size:12px;
    margin-top:20px;
    color:#989898;
}

.terms a{
    color:#6e50ff;
}

footer{
    position:absolute;
    bottom:20px;
    font-size:13px;
    color:#7a7a7a;
}

